@media (min-width: 32.5em){
    body{
        max-width: 1000px;
        margin: auto;
    }

    header{
        justify-content: flex-start;
    }

    img {
        margin: 0 30px 0 0;
    }

    header h1 {
        font-size: 3rem;
    }
}
