* {
    font-family: 'Work Sans', sans-serif;
    letter-spacing: -0.02em;
}

h1, h2, h3, h4 {
    font-weight: 600;
    letter-spacing: -0.08em;
    margin: 0;
}

header {
    overflow: hidden;
    background-color: #E28413;
    position: relative;
    padding: 16px 0;
}

header img {
    width: 150px;
    margin: 10px;
}

nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-content: space-between;
}

.logo {
    grid-column: 2/3;
    justify-self: center;
    padding: 0;
}

header #hamLinks {
    display: none;
    grid-column: 1/4;
    grid-row: 2/3;
}
  
header a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}
  
.ham {
    display: flex;
    grid-column: 1/2;
    grid-row: 1/2;
}

a.icon {
    padding: 0 30px;
}

i.fa-bars {
    font-size: 2rem;
}
  
#hamLinks a:hover {
    background-color: #E5902A;
}
  
.active {
    background-color: #04AA6D;
    color: white;
}

.current-weather {
    text-align: center;
    color: white;
    justify-self: end;
    padding-right: 30px;
}

.current-weather img {
    width: 50px;
    margin: -15px;
}

.current-weather p {
    font-size: .6rem;
    margin: 0;
}

.header-city {
    font-weight: 600;
    letter-spacing: -8%;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    margin: 0;
    padding: 0 30px 60px;
    background-image: linear-gradient(rgba(255, 255, 255, 0),rgba(255, 255, 255, 1)), url("../images/colonia-juarez-temple-hero.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    min-height: 60vh;
    color: #31231E;
}

.hero h1 {
    font-size: 2.5rem;
}

.hero button {
    background-color: #E28413;
    border: 0;
    padding: 10px 30px;
    margin: 10px 0;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

.hero button:hover {
    background-color: #E5902A;
}