* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
 
body {
	font-family: 'Outfit', sans-serif;
}

h1, h2, h3 {
	font-family: 'Big Shoulders Text', sans-serif;
}

header {
    display: flex;
    flex-direction: column;
    background-color: #8C705F;
    color: white;
}

header img {
    width: 100px;
    margin: 15px;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo h1 {
    font-size: 2.2rem;
    margin: 0;
}

.logo h2 {
    font-size: 1.2rem;
    margin: 0;
}

header p {
    text-align: center;
    padding: 0 0 5px;
    font-size: .8rem;
}

nav {  
    background-color: #BFD1E5;
    color: black;
}

.navigation {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0;
}

.navigation li:first-child {
	display: block;
}

.navigation li {
	display: none;
}
.navigation a {
	display: block;
	padding: 0.75rem;
	text-align: left;
	text-decoration: none;
	color: black;
	font-weight: 400;
	transition: 0.5s;
	font-size: clamp(1rem, 2vmin, 1.5rem);
}

.active {
    background-color: #7CA1CB;
}

.navigation a:hover {
	background-color: #A8C0DC;
}

.responsive li {
	display: block;
}

.ham {
    margin: 0;
}

.ham img {
    width: 30px;
    margin: 0;
    padding: 0;
}

.dashboard {
    margin: 0 2%;
}

main h1 {
    font-size: 2.2rem;
    padding: 0 .75rem;
}

main div {
    margin: .75rem 0;
    border-radius: 10px;
    /* height: 200px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px 15px 30px;
}

main div h2 {
    margin: 10px 0;
}

.hero {
    background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.5)), url("../images/ctaimg.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 60px 15px;
}

.hero h2{
    font-size: 3.5rem;
}

button {
    align-self: flex-start;
    background-color: black;
    color: white;
    padding: 5px 20px;
    border: 0;
    border-radius: 50px;
    text-transform: uppercase;
}

.spotlights {
    height: auto;
    border: 1px solid #8C705F;
}

.sp {
    margin: 0.75rem 0;
    border: solid 1px gray;
    height: 175px;
    text-align: center;
}

.sp h2 {
    margin: 0;
    font-size: 3rem;
}

.sp.large {
    display: none;
}

footer {
    padding: 0.75rem;
    background-color: #8C705F;
    color: white;
    text-align: center;
    font-size: .9rem;
    margin: 80px 0 0;
}

footer img {
    width: 150px;
    padding: 10px;
    object-fit: cover;
}

.address {
    padding: 10px;
}

.address p {
    margin: 0;
}

.contact {
    padding: 10px;
}

.contact p {
    margin: 0;
}

.map {
    padding: 20px;
}

.map a {
    color: white;
}

#message {
  background-color: black;
  color: white;
  text-align: center;
  padding: 5px;
  font-size: .9rem;
}

#message.showme {
  display: block;
}

#message.hideme {
  display: none;
}

.hero-image {
    width: 100%;
    margin: 0;
    display: none;
}

.hero-image img {
    width: 100%;
    margin: 0;
}

.page-title {
        font-weight: 100;
        text-transform: uppercase;
        font-size: 2rem;
        padding: 0;
        text-align: center;
        letter-spacing: 5px;
}

.weather p {
    margin: 0;
}

.weather {
    background: linear-gradient(90deg, rgba(242,242,242,1) 0%, rgba(237,237,237,1) 100%);
}

.weather h3 {
    margin: 16px 0 0;
}

.current-weather {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    padding: 0;
}

.current-weather-text{
    padding: 0;
    margin: 0;
} 

#current-temp {
    font-size: 3rem;
}

.weather img {
    width: 70px;
    padding: 0;
    margin: 0 -10px 0 0;
    background-color: white;
    border-radius: 100px;
}

#weather-desc {
    color: rgba(0, 0, 0, 0.4);
    margin: -8px 0 16px;
    font-size: .8rem;
}

.weather a {
    color: rgba(0, 0, 0, 0.2);
    font-size: .6rem;
}

.events {
    border: 1px solid #8C705F;
}

.join {
    background-color: black;
    color: white;
}

.join button {
    background-color: white;
    color: black;
}

.news {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../images/investor.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    color: white;
}

.news a {
    color: white;
}

.gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gallery h2 {
    margin: 0 0 -10px;
}

figure {
    display: flex;
    flex-direction: column;
}

.gallery img {
    width: 100%;
    height: 100%;
    margin: 30px 0 5px;
    border-radius: 20px;
}

.local-storage {
    text-align: center;
}

#membership-title {
    text-align: center;
}

.membership {
    text-align: center;
    margin: 10px 30px;
    padding: 20px 10%;
}

.silver {
    background-color: silver;
}

.gold {
    background-color: gold;
}

.platinum {
    background-color: black;
    color: white;
}

.membership-icon {
    font-size: 5rem;
    margin: 0;
}

.membership h2 {
    text-transform: uppercase;
    letter-spacing: 5px;
}

.price {
    font-size: 2rem;
    font-weight: 900;
    margin: 15px;
    background-color: white;
    border-radius: 100px;
    padding: 10px;
    color: black;
}

.thankyou {
    display: flex;
    flex-direction: column;
    align-items: center;

    height: 50vh;
    text-align: center;
}

.thankyou h2 {
    font-size: 3rem;
    margin: 0;
}

.thankyou h1 {
    font-size: 5rem;
    margin: 0 0 30px;
}

.thankyou a{
    text-decoration: none;
    -webkit-text-decoration: none;
    color: white;
    background-color: black;
    padding: 12px 30px;
    text-transform: uppercase;
    border-radius: 100px;
    cursor: pointer;
}

.hide{
    display: none;
}

.filter-buttons {
    text-align: center;
    display: flex;
    flex-direction: row;
    column-gap: 15px;
    padding: 0;
    margin: 0;
}

.filter-buttons button{
    display: flex;
    background-color: white;
    cursor: pointer;
    border: 1px solid black;
    padding: 10px;
    border-radius: 10px
}

.filter-buttons button:hover{
    background-color: #BFD1E5;
}

.filter-buttons button:active{
    background-color: #BFD1E5;
}

.cards {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 10px;
    row-gap: 10px;
    height: 100%;
}

.cards div {
    display: flex;
    row-gap: 10px;
    align-items: center;
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.05);
    padding: 60px 30px;
    align-content: flex-end;
}

.cards p {
    padding: 0;
    margin: 0;
}

.cards div img{
    width: 100%;
    padding-bottom: 30px;
}

.page-title-div {
    padding: 0;
    margin: 0;
}

table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 30px 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
  }

.centered {
    text-align: center;
    padding: 0 0 30px;
}

.address-card {
    text-align: center;
    padding: 30px;
}

.address-card p {
    margin: 0;
}

.address-card div {
    padding: 0 0 30px;
}

.no-margin {
    margin: 0;
}

/*--------- FORMS -----------*/

form {
    padding: 0 14px;
}

form label.top {
    display: block;
}

form h2 {
    text-align: center;
}

form label.top input, form label.top select, .top textarea{
    -webkit-appearance: none;
    appearance: none;
    display: block;
    padding: .75rem 10px;
    width: 100%;
    border-radius: 10px;
    margin: 4px 0 30px;
    background-color: white;
    border: 1px solid black;
}

form input.submitBtn {
    background-color: black;
    color: white;
    text-transform: uppercase;
    border: 0;
    padding: 15px 50px;
    border-radius: 100px;
    width: 100%;
    cursor: pointer;
    margin-bottom: 60px;
}

form label.top input:required, form label.top input:invalid, form label.top select:required, .top textarea:required{
    border: 1px solid red;
}

form label.top input:required:valid {
    border: 1px solid black;
}